header{
        overflow: hidden;
        background-color: #ebebeb;}

header h1 a span{
        float: left;
        margin-left: 25px;}

header nav{
        float: right;}

header li{
        margin-right: 30px;
        display: inline;}

header a{
        color: #000000;
        text-decoration: none;}



section{
	text-align: center;}

section a{
	text-decoration: none;
	color: #000000;}



footer{
        height: 70px;
        text-align: center;
        background-color: #ebebeb;}

footer ul{
        padding-top: 30px;
}

footer li{
        display: inline;}

footer h4{
        display: inline;}
