body{
        padding: 0;
        margin: 0;}

header{
        overflow: hidden;
        background-color: #ebebeb;}

header hi span{
        float: left;
        padding-left: 60px;}

header nav{
        margin-bottom: 40px;
        float: right;}

header li{
        margin-right: 60px;
        list-style: none;
        display: inline;}

header a{
        text-decoration: none;
        color:#000000}

footer{
	background-color: #ebebeb;}
