body{
	margin: 0;
	padding: 0;}

header{
	overflow: hidden;
	background-color: #ebebeb;}

header h1{
	float: left;}

header nav{
	float: right;}

header li{
	margin-right: 40px;
	list-style: none;
	display: inline;}

header a{
	text-decoration: none;
	color:#000000}}
	
footer{
back-groundcolor: #ebebeb;}
