<html>
	<head>
		<title>App</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	</head>
	<body>
		<header>
			<h1><a href="/"><span>KNOX DEV</span></a></h1>
			<nav>
				<ul>
					<li><a href="/login">Login</a><li/>
					<li><a href="/signup">Signup</a><li/>
					<li><a href="/about">About</a><li/>
					<li><a href="/contacts">Contacts</a><li/>
					<li><a href="/services">Services</a><li/>
				</ul>
			</nav>
		</header>
		<section>
				<h1>CHOOSE A PROGRAM</h1>
				<div class="Web">
					<h1><a href="#">WEB DEVELOPMENT</a></h1>
				</div>

				<div class="Prog">
					<h1><a href="#">PROGRAMMING</a></h1>
				</div>
		</section>
		<footer>
			<ul>
				<li><h4><span>Copyright &copy; 2019<span></h4></li>
				<li><h4><span>All Rights Reserved<span></h4></li>
			</ul>
		</footer>
	</body>
</html>
