<html>
	<head>
                <title>App</title>
                <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
        </head>

	<body>
                <header>
                        <h1><a href="/"><span>KNOX DEV</span></a></h1>
                        <nav>
                                <ul>
                                        <li><a href="/signup">Signup</a><li/>
                                        <li><a href="/about">About</a><li/>
                                        <li><a href="/contacts">Contacts</a><li/>
                                        <li><a href="/services">Services</a><li/>
                                </ul>
                        </nav>
                </header>
                <section>
			<form>
				<div>
					<br><label>Username or Email</label>
					<input type="text"><br>
				</div>
				  <div>
                                       <br> <label>Password<label>
                                        <input type="password"><br>
                                </div>
				<div>
					<br><button type="submit">Login</button>
				</div>
			</form>

			<div>
				<h5>Don't have an account?</h5><br>
				<h3><a href="/signup"><span>Signup</span></a></h3>
			</div>
                </section>
                <footer>
                         <ul>
                                <li><h4><span>Copyright &copy; 2019<span></h4></li>
                                <li><h4><span>All Rights Reserved<span></h4></li>
                        </ul>
                </footer>
        </body>

</html>
